


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<p>Kategori Sayısı @Model.ToString()</p>

<a class="btn btn-info" href="/AdminCategory/AddCategory">Kategori Ekle</a>


